@model PagedList.IPagedList<StartUpMentor.Model.Common.IField>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<section class="jumbotron hero">
    <div class="row intro">
        <div class="small-centered ">
            <h1 class="hero-title">Do you want to start?</h1>
            <p class="hero-paragraph">...and have plenty of questions?</p>
            <p class="hero-paragraph">Ask our mentors a questions that will bring your startup up and running!</p>
        </div>
    </div>
</section>
<div class="after"></div>

<div class="container marketing">
    <hr class="featurette-divider">
    <div class="text-center">
        <h3>Pick a field in which you have a question and start asking!</h3>
    </div>
    <hr class="featurette-divider">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <!--first row-->
    <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4">
                        <a href="@Url.Action("Index", "Question", new { fieldId = item.Id })">
                            <div class="hovereffect">
                                <img class="img-responsive" src="@Url.Content("~/Uploads/FieldImages/" + System.IO.Path.GetFileName(item.ImagePath))" alt="">
                                <div class="overlay">
                                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                                    <p>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
</div>
    <hr class="featurette-divider">

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))
</div>

